# This file provides sample codes for processing your "Primary" data (publication-ready, in your onw preferred format) into "Standarized" data (standarized data formats prefered by the database)
# Sample data files are stored in the "Data sample" folder

In [1]:
import pandas as pd
import numpy as np

# Type 1 - time series data

## Type 1.1 single time series data file

In [2]:
#here is an exmaple of a single file from a CO2 data logger 
filename = 'data_AQM_11010204.csv'
aqm = pd.read_csv('./Data sample/'+filename,index_col=0)
aqm

,DATE,11010204_AQM_CO2,11010204_AQM_Temperature,11010204_AQM_Humidity,11010204_AQM_Humidity_STD_21C
1,2022-09-08 20:55:00,404,26.2,40.3,55.116841
2,2022-09-08 20:57:00,409,26.2,40.3,55.116841
3,2022-09-08 20:59:00,411,26.2,40.3,55.116841
4,2022-09-08 21:01:00,405,26.2,40.3,55.116841
5,2022-09-08 21:03:00,406,26.2,40.3,55.116841
...,...,...,...,...,...
209875,2023-06-27 11:52:00,793,26.5,42.9,59.719747
209876,2023-06-27 11:54:00,781,26.5,42.9,59.719747
209877,2023-06-27 11:56:00,716,26.5,42.5,59.162920
209878,2023-06-27 11:58:00,695,26.5,42.1,58.606092
209879,2023-06-27 12:00:00,504,26.4,40.2,55.632451

In [3]:
#drop irrelevant columns 
aqm.drop(columns=['11010204_AQM_Humidity_STD_21C'],inplace=True)

#rename column names, use "Physical parameter name + , + unit" format for IAQ data; use "Timestamp" for the timestamps

#see examples below
aqm.rename(columns={'11010204_AQM_CO2':'CO2, ppm','11010204_AQM_Temperature':'Temperature, °C','11010204_AQM_Humidity':'Relative humidity, %'},inplace=True)
aqm.rename(columns={'DATE':'Timestamp'},inplace=True)

#add building, space, and instrument identifiers
aqm['Building identifier'] = 1
aqm['Space identifier'] = 'NBA'
aqm['Instrument identifier'] = 'AQM G4'

aqm

,Timestamp,"CO2, ppm","Temperature, °C","Relative humidity, %",Building identifier,Space identifier,Instrument identifier
1,2022-09-08 20:55:00,404,26.2,40.3,1,NBA,AQM G4
2,2022-09-08 20:57:00,409,26.2,40.3,1,NBA,AQM G4
3,2022-09-08 20:59:00,411,26.2,40.3,1,NBA,AQM G4
4,2022-09-08 21:01:00,405,26.2,40.3,1,NBA,AQM G4
5,2022-09-08 21:03:00,406,26.2,40.3,1,NBA,AQM G4
...,...,...,...,...,...,...,...
209875,2023-06-27 11:52:00,793,26.5,42.9,1,NBA,AQM G4
209876,2023-06-27 11:54:00,781,26.5,42.9,1,NBA,AQM G4
209877,2023-06-27 11:56:00,716,26.5,42.5,1,NBA,AQM G4
209878,2023-06-27 11:58:00,695,26.5,42.1,1,NBA,AQM G4
209879,2023-06-27 12:00:00,504,26.4,40.2,1,NBA,AQM G4

In [4]:
#save the standardized data file, and you are ready to upload it to the database!
aqm.to_csv('Data sample/Data sample_Standardized/AQM_11010204_standardized.csv')

## Type 1.2 concatenated time series data file

In [5]:
#here is an exmaple of a concatenated file from multiple CO2 data logger of the same kind
filename = 'scholair_aqm.csv'
aqm_conc = pd.read_csv('./Data sample/'+filename,index_col=0)
aqm_conc

,Date/Time,AQM_CO2,AQM_Temperature,AQM_Humidity,AQM_Humidity_STD_21C,Building,Location,Campaign
0,2022-09-08 20:55:00,404,26.2,40.3,55.116841,1,NBA,A21W1
1,2022-09-08 20:57:00,409,26.2,40.3,55.116841,1,NBA,A21W1
2,2022-09-08 20:59:00,411,26.2,40.3,55.116841,1,NBA,A21W1
3,2022-09-08 21:01:00,405,26.2,40.3,55.116841,1,NBA,A21W1
4,2022-09-08 21:03:00,406,26.2,40.3,55.116841,1,NBA,A21W1
...,...,...,...,...,...,...,...,...
10275926,2023-06-21 11:52:00,506,28.3,48.2,74.547260,24,NHA,A21W1
10275927,2023-06-21 11:54:00,501,28.2,48.1,73.961510,24,NHA,A21W1
10275928,2023-06-21 11:56:00,485,28.2,48.0,73.807744,24,NHA,A21W1
10275929,2023-06-21 11:58:00,482,28.2,48.0,73.807744,24,NHA,A21W1
10275930,2023-06-21 12:00:00,494,28.2,48.0,73.807744,24,NHA,A21W1

In [6]:
#drop irrelevant columns 
aqm_conc.drop(columns=['Campaign','AQM_Humidity_STD_21C'],inplace=True)

#rename column names, use "Physical parameter name + , + unit" format
#see examples below
aqm_conc.rename(columns={'AQM_CO2':'CO2, ppm','AQM_Temperature':'Temperature, °C','AQM_Humidity':'Relative humidity, %'},inplace=True)
aqm_conc.rename(columns={'Date/Time':'Timestamp'},inplace=True)

#the concatenated file already contains building and space identifiers
#standardize column names for identifiers
building_col = 'Building' #column name of building identifier in your primary data, values must match metadata
space_col = 'Location' #column name of space identifier in your primary data, values must match metadata
aqm_conc.rename(columns={building_col:'Building identifier',space_col:'Space identifier'},inplace=True)

#check all necessary information has been provided
#most important ones include: Building identifier, Space identifier,  Instrument identifier, and Timestamp
#in this example, Instrument identifier is missing
aqm_conc['Instrument identifier'] = 'AQM G4' #must match the Instrument identifier in the metadata

aqm_conc

,Timestamp,"CO2, ppm","Temperature, °C","Relative humidity, %",Building identifier,Space identifier,Instrument identifier
0,2022-09-08 20:55:00,404,26.2,40.3,1,NBA,AQM G4
1,2022-09-08 20:57:00,409,26.2,40.3,1,NBA,AQM G4
2,2022-09-08 20:59:00,411,26.2,40.3,1,NBA,AQM G4
3,2022-09-08 21:01:00,405,26.2,40.3,1,NBA,AQM G4
4,2022-09-08 21:03:00,406,26.2,40.3,1,NBA,AQM G4
...,...,...,...,...,...,...,...
10275926,2023-06-21 11:52:00,506,28.3,48.2,24,NHA,AQM G4
10275927,2023-06-21 11:54:00,501,28.2,48.1,24,NHA,AQM G4
10275928,2023-06-21 11:56:00,485,28.2,48.0,24,NHA,AQM G4
10275929,2023-06-21 11:58:00,482,28.2,48.0,24,NHA,AQM G4
10275930,2023-06-21 12:00:00,494,28.2,48.0,24,NHA,AQM G4

In [7]:
#export processed dataframe and upload it to the database after filling in metadata using the web tool 
aqm_conc.to_csv('Data sample/Data sample_Standardized/AQM_conc_standardized.csv')

# Type 2 - Integrated data

## Type 2.1 -  Integrated data file that does not require transposition

In [8]:
#here is an exmaple of a concatenated file from multiple Tenax VOC samplers of the same kind 
filename = 'scholair_ten.csv'
tenax = pd.read_csv('./Data sample/'+filename, index_col=0,converters={'Ref':str})
tenax

,Date,Benzene,Toluene,Ethylbenzene,m-Xylene p-Xylene,o-Xylene,Styrene,"1,2,4-Trimethylbenzene",3-Methylpentane,Cyclohexane,...,1-Methoxy-2-propanol,Decamethylcyclopentasiloxane,Diethylphtalate,1S-Alpha-Pinene,Limonene,Composes_doses,COVtot,Campagne_str,Point_mesure,Localite_id
0,15.06-22.06.2022,-1000000,-1000000.0,1.000000,2.000000,1.000000,-1000000.000000,2.000000,-1000000.0,-1000000.0,...,10.000000,-1000000.00000,3.0,-1000000.000000,-1000000.000000,37.000000,760.000000,E22,NBA,8
1,15.06-22.06.2022,-1000000,-1000000.0,-1000000.000000,1.000000,1.000000,-1000000.000000,-1000000.000000,-1000000.0,-1000000.0,...,5.000000,-1000000.00000,4.0,-1000000.000000,-1000000.000000,10.000000,503.000000,E22,NHA,8
2,15.06-22.06.2022,-1000000,-1000000.0,-1000000.000000,1.000000,1.000000,-1000000.000000,-1000000.000000,-1000000.0,-1000000.0,...,-1000000.000000,-1000000.00000,3.0,-1000000.000000,-1000000.000000,5.000000,380.000000,E22,EXT,8
3,15.06-22.06.2022,-1000000,7.0,1.000000,6.000000,2.000000,-1000000.000000,-1000000.000000,2.0,2.0,...,33.000000,2.00000,2.0,4.000000,3.000000,123.000000,879.000000,E22,NBA,18
4,15.06-22.06.2022,-1000000,-1000000.0,1.000000,4.000000,2.000000,-1000000.000000,2.000000,2.0,-1000000.0,...,18.000000,2.00000,2.0,8.000000,2.000000,53.000000,1122.000000,E22,NHA,18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138,22.03-29.03.2023,-1000000,-1000000.0,-1000000.000000,1.000000,-1000000.000000,-1000000.000000,2.176896,-1000000.0,-1000000.0,...,7.089461,-1000000.00000,-1000000.0,-1000000.000000,10.371277,20.407226,324.835483,H23,NHA,6
139,22.03-29.03.2023,-1000000,-1000000.0,-1000000.000000,-1000000.000000,-1000000.000000,-1000000.000000,-1000000.000000,-1000000.0,-1000000.0,...,-1000000.000000,-1000000.00000,-1000000.0,-1000000.000000,-1000000.000000,34.313499,186.258882,H23,EXT,6
140,22.03-29.03.2023,-1000000,-1000000.0,1.962633,5.093146,2.354599,3.044249,2.689040,-1000000.0,-1000000.0,...,8.046380,5.76807,-1000000.0,5.350555,3.042765,39.816712,418.557282,H23,NBA,14
141,22.03-29.03.2023,-1000000,-1000000.0,3.124854,6.623864,3.029218,-1000000.000000,4.941842,-1000000.0,-1000000.0,...,11.862503,-1000000.00000,-1000000.0,3.225134,1.784536,36.849205,573.006778,H23,NHA,14
142,22.03-29.03.2023,-1000000,-1000000.0,-1000000.000000,1.000000,-1000000.000000,-1000000.000000,-1000000.000000,-1000000.0,-1000000.0,...,-1000000.000000,-1000000.00000,-1000000.0,-1000000.000000,-1000000.000000,0.702804,223.127626,H23,EXT,14

In [9]:
#drop irrelevant columns 
tenax.drop(columns=['Composes_doses','Campagne_str',],inplace=True)

#for TVOCs, use "TVOC" + unit
tenax.rename(columns={'COVtot':'TVOC, µg/m3'},inplace=True)
#for individual VOCs, use "Specific VOC" + unit for name, for example "Benzene, µg/m3"
voc_columns = tenax.columns.drop(['Date','Point_mesure','Localite_id','TVOC, µg/m3']) #find columns containing individual VOCs to be renamed
tenax.rename(columns = dict(zip(voc_columns, voc_columns + ', µg/m3')), inplace=True) #rename the columns to add the unit

#standardize column names for identifiers
building_col = 'Localite_id' #column name of building identifier in your primary data, values must match metadata
space_col = 'Point_mesure' #column name of space identifier in your primary data, values must match metadata
tenax.rename(columns={building_col:'Building identifier',space_col:'Space identifier'},inplace=True)

#for start and end of sampling, use "Start time" and "End time", respectively
tenax['End time'] = tenax['Date'].apply(lambda x: x[6:]) # the 7th digit to the end of the "Date" column is the end data
tenax['Start time'] = tenax['Date'].apply(lambda x: x[0:5]+x[-5:]) # the first 5 and last 5 digits of the "Date" column are the start data
tenax['End time'] = pd.to_datetime(tenax['End time'],format='mixed') #convert to standard datetime format
tenax['Start time'] = pd.to_datetime(tenax['Start time'],format='mixed') #convert to standard datetime format
tenax.drop(columns=['Date'],inplace=True)

#check all necessary information has been provided
#most important ones include: Building identifier, Space identifier, and Instrument identifier
#in this example, Instrument identifier is missing
tenax['Instrument identifier'] = 'Tenax'

tenax

,"Benzene, µg/m3","Toluene, µg/m3","Ethylbenzene, µg/m3","m-Xylene p-Xylene, µg/m3","o-Xylene, µg/m3","Styrene, µg/m3","1,2,4-Trimethylbenzene, µg/m3","3-Methylpentane, µg/m3","Cyclohexane, µg/m3","Chloroforme, µg/m3",...,"Decamethylcyclopentasiloxane, µg/m3","Diethylphtalate, µg/m3","1S-Alpha-Pinene, µg/m3","Limonene, µg/m3","TVOC, µg/m3",Space identifier,Building identifier,End time,Start time,Instrument identifier
0,-1000000,-1000000.0,1.000000,2.000000,1.000000,-1000000.000000,2.000000,-1000000.0,-1000000.0,-1000000,...,-1000000.00000,3.0,-1000000.000000,-1000000.000000,760.000000,NBA,8,2022-06-22,2022-06-15,Tenax
1,-1000000,-1000000.0,-1000000.000000,1.000000,1.000000,-1000000.000000,-1000000.000000,-1000000.0,-1000000.0,-1000000,...,-1000000.00000,4.0,-1000000.000000,-1000000.000000,503.000000,NHA,8,2022-06-22,2022-06-15,Tenax
2,-1000000,-1000000.0,-1000000.000000,1.000000,1.000000,-1000000.000000,-1000000.000000,-1000000.0,-1000000.0,-1000000,...,-1000000.00000,3.0,-1000000.000000,-1000000.000000,380.000000,EXT,8,2022-06-22,2022-06-15,Tenax
3,-1000000,7.0,1.000000,6.000000,2.000000,-1000000.000000,-1000000.000000,2.0,2.0,-1000000,...,2.00000,2.0,4.000000,3.000000,879.000000,NBA,18,2022-06-22,2022-06-15,Tenax
4,-1000000,-1000000.0,1.000000,4.000000,2.000000,-1000000.000000,2.000000,2.0,-1000000.0,-1000000,...,2.00000,2.0,8.000000,2.000000,1122.000000,NHA,18,2022-06-22,2022-06-15,Tenax
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138,-1000000,-1000000.0,-1000000.000000,1.000000,-1000000.000000,-1000000.000000,2.176896,-1000000.0,-1000000.0,-1000000,...,-1000000.00000,-1000000.0,-1000000.000000,10.371277,324.835483,NHA,6,2023-03-29,2023-03-22,Tenax
139,-1000000,-1000000.0,-1000000.000000,-1000000.000000,-1000000.000000,-1000000.000000,-1000000.000000,-1000000.0,-1000000.0,-1000000,...,-1000000.00000,-1000000.0,-1000000.000000,-1000000.000000,186.258882,EXT,6,2023-03-29,2023-03-22,Tenax
140,-1000000,-1000000.0,1.962633,5.093146,2.354599,3.044249,2.689040,-1000000.0,-1000000.0,-1000000,...,5.76807,-1000000.0,5.350555,3.042765,418.557282,NBA,14,2023-03-29,2023-03-22,Tenax
141,-1000000,-1000000.0,3.124854,6.623864,3.029218,-1000000.000000,4.941842,-1000000.0,-1000000.0,-1000000,...,-1000000.00000,-1000000.0,3.225134,1.784536,573.006778,NHA,14,2023-03-29,2023-03-22,Tenax
142,-1000000,-1000000.0,-1000000.000000,1.000000,-1000000.000000,-1000000.000000,-1000000.000000,-1000000.0,-1000000.0,-1000000,...,-1000000.00000,-1000000.0,-1000000.000000,-1000000.000000,223.127626,EXT,14,2023-03-29,2023-03-22,Tenax

In [10]:
tenax.to_csv('./Data sample/Data sample_Standardized/Tenax_conc_standardized.csv')

## Type 2.2 -  Integrated data file that requires transposition

In [11]:
filename = 'data_COA_14050304.csv'
coa = pd.read_csv('./Data sample/'+filename, index_col=0,converters={'Ref':str})
coa

,14050304_COA_CAS,14050304_COA_Name_list,14050304_COA_Name_file,14050304_COA_R.time,14050304_COA_ppb,14050304_COA_ug/m3,14050304_COA_Probability
1,100-41-4,Ethyl Benzene,NaN,NaN,NaN,NaN,NaN
2,100-42-5,Styrene,NaN,NaN,NaN,NaN,NaN
3,100-44-7,Benzyl Chloride,NaN,NaN,NaN,NaN,NaN
4,100-51-6,Benzyl Alcohol,NaN,NaN,NaN,NaN,NaN
5,103-65-1,Propyl Benzene,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
202,107-01-7,2-butene,NaN,NaN,NaN,NaN,NaN
203,560-21-4,"2,3,3-Trimethylpentane",NaN,NaN,NaN,NaN,NaN
204,584-94-1,"2,3-Dimethylhexane",NaN,NaN,NaN,NaN,NaN
205,100-100-100-100,Total(As Toluene),Total(As Toluene),NaN,54.9694,206.135251,NaN
206,100-100-100-100,Total(As Toluene),Total(As Toluene),NaN,54.9694,206.135251,NaN

In [12]:
#remove prefix from column names
coa.columns = coa.columns.str.removeprefix("14050304_")

#drop irrelevant columns 
coa.drop(columns=['COA_Name_file','COA_R.time','COA_Probability'],inplace=True)

#covert to the long format, i.e., each pollutant should occupy a column
coa = coa.pivot(columns=['COA_Name_list','COA_CAS'],values='COA_ug/m3').reset_index(drop=True)

# #for individual VOCs, use "Specific VOC" + unit for name, for example "Benzene, µg/m3"
voc_columns = coa.columns.get_level_values(0).drop('Total(As Toluene)') #Because it contains CAS number, the dataframe because multi-index, level 0 contains VOC names
coa.rename(columns = dict(zip(voc_columns, voc_columns + ', µg/m3')), level=0, inplace=True) #rename the columns to add the unit
#for TVOCs, use "TVOC" + unit
coa.rename(columns={'Total(As Toluene)':'TVOC, µg/m3'},inplace=True)

#add building, space, and instrument identifiers
coa['Building identifier'] = 1
coa['Space identifier'] = 'NBA'
coa['Instrument identifier'] = 'Kits-COVA'

coa

COA_Name_list,"Ethyl Benzene, µg/m3","Styrene, µg/m3","Benzyl Chloride, µg/m3","Benzyl Alcohol, µg/m3","Propyl Benzene, µg/m3","Anethole, µg/m3","2-Ethyl-1-Hexanol, µg/m3","Ethyl Propionate, µg/m3","Ethyl butyrate, µg/m3","Beta-Citronellol, µg/m3",...,"Ethylvinylether, µg/m3","γ-Terpinene, µg/m3","2,3,4-Trimethylpentane, µg/m3","2-butene, µg/m3","2,3,3-Trimethylpentane, µg/m3","2,3-Dimethylhexane, µg/m3","TVOC, µg/m3",Building identifier,Space identifier,Instrument identifier
COA_CAS,100-41-4,100-42-5,100-44-7,100-51-6,103-65-1,104-46-1,104-76-7,105-37-3,105-54-4,106-22-9,...,109-92-2,99-85-4,565-75-3,107-01-7,560-21-4,584-94-1,100-100-100-100,,,
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NBA,Kits-COVA
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NBA,Kits-COVA
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NBA,Kits-COVA
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NBA,Kits-COVA
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NBA,Kits-COVA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
201,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NBA,Kits-COVA
202,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NBA,Kits-COVA
203,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NBA,Kits-COVA
204,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,206.135251,1,NBA,Kits-COVA
205,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,206.135251,1,NBA,Kits-COVA

In [13]:
coa.to_csv('./Data sample/Data sample_Standardized/COVA_standardized.csv')